{% extends "layout/base.html.jinja2" %}
{% block title %}
職能發展學院-交通路線
{% endblock %}

{% block main %}
<h1>{{self.title()}}</h1>




<h2>為了廣大職能發展學院學生的交通考量
我們發展了一套交通利器</h2>
<h3>試試我們的芝山站至職能發展學院
交通決策建議系統</h3>


<!-- 動態決策系統連結 -->
<div style="margin-top: 20px;">
   <a href="{{ url_for('static', filename='/decision.html') }}" target="_blank" style="text-decoration: none; color: blue; font-weight: bold;">
    📥 按此試用
</a>



{% endblock %}